* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #0f172a;
  color: white;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  min-height: 80vh;
}

.hero img {
  width: 400px;
}

/* Button */
button {
  padding: 12px 24px;
  background: #38bdf8;
  border: none;
  border-radius: 6px;
  margin-top: 20px;
  font-size: 16px;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .navbar {
    flex-direction: column;
  }
}
.hero {
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1;}
}
html {
  scroll-behavior: smooth;
}
